.inputBox{
    min-width: 280px;
    height: 35px;
    padding: 0px 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
    box-shadow: 0px 0px 4px rgb(182, 176, 176);   
    border-radius: 15px;
    background-color: white;
    color: rgb(25, 110, 220);
}
.inputBox:hover{
    
    transition: 0.5s;
    box-shadow: 0px 0px 7px rgb(235, 233, 233);   
}
.input{
    max-width: 220px;  
    border: 0;   
    cursor:text;
}
.input:focus{
    background-color: rgb(230, 230, 230);
    border: 0;   
}

@media(max-width:800px){
    .input{   
        font-size: 0.8em;
    }
}

.err{
    box-shadow: 0px 0px 8px rgb(255, 0, 0); 
}

.err:hover{
    box-shadow: 0px 0px 8px rgb(255, 0, 0); 
}
